<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-text color="dark">
        <h2>{{name}}</h2>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>
        Login: {{login}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Senha: {{password}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button color="dark" (click)="close()" expand="block">
    Voltar
  </ion-button>
</ion-content>
